<script src="client/bundle.js"></script>
<!--- ionicon link -->
<script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    //     const swiper = new Swiper(".slide-content-view", {
    //     slidesPerView: 4,
    //     spaceBetween: 10,
    //     loop: false,
    //     centerSlide: "true",
    //     fade: "true",
    //     grabCursor: "true",
    //     navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //     },
    //     breakpoints: {
    //     0: { slidesPerView: 2 },
    //     520: { slidesPerView: 3 },
    //     950: { slidesPerView: 3 },
    //     1024: { slidesPerView: 4 },
    //     },
    // });

    // const swiper2 = new Swiper(".slide-content", {
    //     slidesPerView: 8,
    //     spaceBetween: 10,
    //     loop: true,
    //     autoplay: {
    //     delay: 2500,
    //     disableOnInteraction: false,
    //     },
    //     centerSlide: "true",
    //     fade: "true",
    //     grabCursor: "true",
    //     breakpoints: {
    //     0: { slidesPerView: 2 },
    //     520: { slidesPerView: 3 },
    //     768: { slidesPerView: 4 },
    //     950: { slidesPerView: 6 },
    //     1200: { slidesPerView: 8 },
    //     },
    // });
    </script>
</body>
</html>