<footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="footer-brand">
          <a href="#">
            <img src="/images/logo/logo-3.png" alt="" width="70" class="footer-img" />
          </a>
          <p class="footer-text">
            This website is a free marketplace where users can buy and sell items with no fees or commissions.
            Share listings via social media, including WhatsApp, to connect with buyers and sellers effortlessly.
          </p>
        </div>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Navigation</p>
          </li>
          <li>
            <p class="footer-link">
              <a href="#home"> Home </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
              <a href="#about"> About </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
              <a href="#services"> My Account </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
              <a href="#portfolio"> Saved Items </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
              <a href="#faq"> Become a Seller </a>
            </p>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Company</p>
          </li>
          <li>
            <p class="footer-link">
            <a href="#">
                Terms & Conditions
            </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
                <a href="#">
                    Privacy Policy
                </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
            <a href="#">
                Parent Company
            </a>
            </p>
          </li>
          <li>
            <p class="footer-link">
                <a href="#">
                    Open Source
                </a>
            </p>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>
          <li class="footer-item">
            <ion-icon name="location" aria-hidden="true"></ion-icon>

            <address class="contact-link address">Nairobi, Kenya</address>
          </li>

          <li class="footer-item">
            <ion-icon name="call" aria-hidden="true"></ion-icon>

            <a href="tel:+254715354384" class="contact-link"
              >+254 715 354 384</a
            >
          </li>

          <li class="footer-item">
            <ion-icon name="mail" aria-hidden="true"></ion-icon>

            <a href="mailto:tonycomputers6@gmail.com" class="contact-link"
              >support@blackm.co.ke</a
            >
          </li>
          <li class="footer-item">
            <ul class="social-list">
                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                </li>
                <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-github"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">&copy; 2024 BlackM | All Rights Reserved</p>
        <ul class="footer-bottom-list">
          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
<script src="client/bundle.js"></script>
<!--- ionicon link -->
<script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        // This is the working backup code for the initSwiper function in /vendors/swiper.ts
        const swiper = new Swiper(".slide-content-view", {
        slidesPerView: 4,
        spaceBetween: 10,
        loop: false,
        centerSlide: "true",
        fade: "true",
        grabCursor: "true",
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        breakpoints: {
        0: { slidesPerView: 2 },
        520: { slidesPerView: 3 },
        950: { slidesPerView: 3 },
        1024: { slidesPerView: 4 },
        },
    });
    </script>
</body>
</html>