<header class="header" data-header>
  <div class="container">
    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>
    <div class="header-logo">
      <a href="#">
        <img src="/images/logo/logo-1.png" alt="" class="logo-img" />
      </a>
    </div>
    <div class="explore-search">
      <!-- <p class="section-text">Category</p> -->
      <div class="search-box">
        <input
          type="text"
          name="keywords"
          id="search"
          placeholder="Search product..." />
        <button class="btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>
    </div>
    <nav class="navbar" data-navbar>
      <div class="wrapper">
        <a href="#" class="logo">
          <img src="/images/logo/logo-3.png" alt="" class="logo-img" />
        </a>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>
      <ul class="navbar-list">
        <li>
          <a href="#home" class="navbar-link" data-nav-link>All Products</a>
        </li>
        <li>
          <a href="#about" class="navbar-link" data-nav-link>My Account</a>
        </li>
        <li>
          <a href="#shop" class="navbar-link" data-nav-link>Saved Items</a>
        </li>
        <li>
          <a href="#account" class="navbar-link" data-nav-link>About BlackM</a>
        </li>
        <li>
          <a href="#contact" class="navbar-link" data-nav-link>Our Contact</a>
        </li>
      </ul>
    </nav>
    <!-- menu icon -->
    <div class="login-cart-btn">
      <a href="/bookmark" class="bookmark-btn" aria-label="bookmark">
        <img src="/images/svg/like.svg" alt="" class="header-svg" />
        <p class="section-text">Wishlist</p>
      </a>
      <a href="/account" class="login-btn" aria-label="login">
        <ion-icon name="person-circle-outline"></ion-icon>
        <p class="section-text">Account</p>
      </a>
    </div>
    <div class="overlay" data-nav-toggler data-overlay></div>
  </div>
</header>
