<%- include('includes/head') %> <%- include('includes/account-header') %>
<section class="account">
  <div class="container">
    <div class="account-cards">
      <div class="card">
        <div class="card-text">
          <p class="">Total Views</p>
          <h1 class="h1">40</h1>
        </div>
        <ion-icon name="trending-up-outline"></ion-icon>
      </div>
      <div class="card">
        <div class="card-text">
          <p class="">Total Likes</p>
          <h1 class="h1">40</h1>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
      <div class="card">
        <div class="card-text">
          <p class="">Total Revenue</p>
          <h1 class="h1">Ksh 20,000</h1>
        </div>
        <ion-icon name="cash-outline"></ion-icon>
      </div>
    </div>
    <div class="account-chart">
      <canvas id="account-chart"></canvas>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
