<%- include('includes/head') %> <%- include('includes/header') %>
<section class="section hero" aria-label="hero">
  <div class="hero-content">
    <h1 class="hero-title">Sell Anything, Anytime, for Free</h1>
    <p class="hero-text">
      Join our community and start selling your items effortlessly. No fees, no
      commissions - just pure selling freedom.
    </p>
    <a href="#" class="btn-primary">Get Started</a>
  </div>
</section>
<section class="section category">
  <div class="slide-container swiper container">
    <div class="slide-content">
      <div class="swiper-wrapper category-list">
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/electronic.jpg" alt="" />
          </div>
          <p class="section-text">Electronics</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/fashion.png" alt="" />
          </div>
          <p class="section-text">Fashion</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/furniture.png" alt="" />
          </div>
          <p class="section-text">Home & Garden</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/health.jpg" alt="" />
          </div>
          <p class="section-text">Health & Beauty</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/vehicle.jpg" alt="" />
          </div>
          <p class="section-text">Vehicles</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/book.jpg" alt="" />
          </div>
          <p class="section-text">Books & Movies</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/sports.jpg" alt="" />
          </div>
          <p class="section-text">Sports & Outdoors</p>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/toys.jpg" alt="" />
          </div>
          <p class="section-text">Toys & Hobbies</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section recents">
  <div class="slide-container swiper container">
    <h2 class="section-title">Recently Viewed</h2>
    <div class="slide-content-view">
      <div class="swiper-wrapper view-grid">
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="img-box">
            <img src="/images/products/book.jpg" alt="" />
          </div>
          <div class="content">
            <h3 class="product-title">Product Title</h3>
            <p class="product-price">$199.99</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swipers-btns">
      <p class="swiper-button-next"></p>
    </div>
    <div class="swipers-btns">
      <p class="swiper-button-prev"></p>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
