<%- include('includes/head') %> <%- include('includes/header') %>
<section class="section hero" aria-label="hero">
  <div class="hero-content">
    <div class="container">
      <h1 class="hero-title">Sell Anything, Anytime, for Free</h1>
      <p class="hero-text">
        Join our community and start selling your items effortlessly. No fees,
        no commissions - just pure selling freedom.
      </p>
      <a href="#" class="btn-primary">Get Started</a>
    </div>
  </div>
</section>
<section class="category">
  <div class="slide-container swiper container">
    <div class="slide-content">
      <div class="swiper-wrapper category-list">
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/electronic.jpg" alt="" />
          </div>
          <p class="section-text">Electronics</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/fashion.png" alt="" />
          </div>
          <p class="section-text">Fashion</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/furniture.png" alt="" />
          </div>
          <p class="section-text">Home & Garden</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/health.jpg" alt="" />
          </div>
          <p class="section-text">Health & Beauty</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/vehicle.jpg" alt="" />
          </div>
          <p class="section-text">Vehicles</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/book.jpg" alt="" />
          </div>
          <p class="section-text">Books & Movies</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/sports.jpg" alt="" />
          </div>
          <p class="section-text">Sports & Outdoors</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/toys.jpg" alt="" />
          </div>
          <p class="section-text">Toys & Hobbies</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="recents">
  <div class="slide-container swiper container">
    <div class="section-heading">
      <div class="title">
        <div class="img-box">
          <img src="/images/svg/volt.svg" alt="" width="100" />
        </div>
        <h1 class="h1">Most Viewed</h1>
      </div>
      <a href="#" class="view-all-link">
        <p class="section-text">See All</p>
      </a>
    </div>
    <div class="slide-content-view">
      <div class="swiper-wrapper view-grid">
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p1.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p2.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p3.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p4.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p5.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p6.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p7.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
        <a href="/market" class="product-card swiper-slide">
          <div class="img-box">
            <img src="/images/products/p8.jpg" alt="" />
            <button class="wishlist-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
          </div>
          <div class="card-content">
            <p class="section-text">Nike Air Force 1's</p>
            <p class="price">Ksh 3,000</p>
            <p class="location small-text">
              <ion-icon name="location-sharp"></ion-icon>
              Nairobi, Nairobi Central
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="swipers-btns">
      <p class="swiper-button-next"></p>
    </div>
    <div class="swipers-btns">
      <p class="swiper-button-prev"></p>
    </div>
  </div>
</section>
<section class="products">
  <div class="container">
    <div class="section-heading">
      <div class="title">
        <h1 class="h1">Recently Posted</h1>
      </div>
      <a href="#" class="view-all-link">
        <p class="section-text">View All</p>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </a>
    </div>
    <div class="view-grid">
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/market" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="section-title">Start Selling Now</h1>
      <p class="section-text">
        Join our community and start selling your items effortlessly. No fees,
        no commissions - just pure selling freedom.
      </p>
      <button class="btn-primary">Get Started</button>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
