<%- include('includes/head') %> <%- include('includes/account-header') %>
<section class="table">
  <div class="container">
    <div class="table-header">
      <h1 class="h1">Your Inventory</h1>
      <a class="#" class="btn-primary">Add Product</a>
    </div>
    <table></table>
  </div>
</section>
<%- include('includes/footer') %>
