<%- include('includes/head') %> <%- include('includes/header') %>
<section class="category" style="padding-block-start: 13rem">
  <div class="slide-container swiper container">
    <div class="slide-content">
      <div class="swiper-wrapper category-list">
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/electronic.jpg" alt="" />
          </div>
          <p class="section-text">Electronics</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/fashion.png" alt="" />
          </div>
          <p class="section-text">Fashion</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/furniture.png" alt="" />
          </div>
          <p class="section-text">Home & Garden</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/health.jpg" alt="" />
          </div>
          <p class="section-text">Health & Beauty</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/vehicle.jpg" alt="" />
          </div>
          <p class="section-text">Vehicles</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/book.jpg" alt="" />
          </div>
          <p class="section-text">Books & Movies</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/sports.jpg" alt="" />
          </div>
          <p class="section-text">Sports & Outdoors</p>
        </a>
        <a href="#" class="card swiper-slide">
          <div class="img-box">
            <img src="/images/category/toys.jpg" alt="" />
          </div>
          <p class="section-text">Toys & Hobbies</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="store"></section>
<%- include('includes/footer') %>
