<%- include('includes/head') %> <%- include('includes/header') %>
<section class="product-details">
  <div class="container">
    <div class="breadcrumb">
      <a href="#">Home</a>
      <span>&#47;</span>
      <a href="#">Market</a>
      <span>&#47;</span>
      <a href="#">Samsung Galaxy S21 Ultra</a>
    </div>
    <div class="product-detail-container">
      <div class="image-container">
        <div class="main-image">
          <div class="img-box">
            <img src="/images/products/p8.jpg" alt="" id="current-image" />
          </div>
        </div>
        <div class="product-images">
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
        </div>
      </div>
      <div class="product-content">
        <p class="section-text">
          <ion-icon name="location"></ion-icon>
          Nairobi, Nairobi Central
        </p>
        <h1 class="h1">Samsung Galaxy S21 Ultra</h1>
        <p class="">
          <ion-icon name="briefcase"></ion-icon>
          Business Entity
        </p>
        <h1 class="h1">Ksh 12,000</h1>
        <p class="">Condition: Refurbished</p>
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem
          aliquam perferendis provident, error unde.
        </p>
        <div class="product-btns">
          <a href="/" class="btn">
            <ion-icon name="logo-whatsapp"></ion-icon>
            Buy Now</a
          >
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <p class="">
          <ion-icon name="boat"></ion-icon>
          Free Shipping Offerred
        </p>
        <div class="security-tips">
          <p>
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            Security Guidance
          </p>
          <ul>
            <li>
              1. Always ensure you verify the seller before buying anything
            </li>
            <li>
              2. Always ensure you verify the seller before buying anything
            </li>
            <li>
              3. Always ensure you verify the seller before buying anything
            </li>
            <li>
              4. Always ensure you verify the seller before buying anything
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recommend">
  <div class="container">
    <h1 class="h1">Recommended Items</h1>
    <div class="view-grid">
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
