<%- include('includes/head') %> <%- include('includes/header') %>
<section class="product-details">
  <div class="container">
    <div class="breadcrumb">
      <a href="#">
        <p class="section-text">Market</p>
      </a>
      <span>&#47;</span>
      <a href="#">
        <p class="section-text">Electronics</p>
      </a>
      <span>&#47;</span>
      <a href="#">
        <p class="section-text">Samsung Galaxy S21 Ultra</p>
      </a>
    </div>
    <div class="product-detail-container">
      <div class="image-container">
        <div class="main-image">
          <div class="img-box">
            <img src="/images/products/p8.jpg" alt="" id="current-image" />
          </div>
        </div>
        <div class="product-images">
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
          <div class="img-box">
            <img
              src="/images/products/p4.jpg"
              alt=""
              class="selected-product" />
          </div>
        </div>
      </div>
      <div class="product-content">
        <p class="location section-text">
          <ion-icon name="location"></ion-icon>
          Nairobi, Nairobi Central
        </p>
        <h1 class="product-title h1">Samsung Galaxy S21 Ultra</h1>
        <h1 class="price h1">Ksh 12,000</h1>
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem
          aliquam perferendis provident, error unde.
        </p>
        <ul>
          <li>
            <div class="accordion-container">
              <button class="card-action" data-accordion>
                <p class="card-title">Details</p>
                <div class="action-icon">
                  <ion-icon
                    name="add-outline"
                    aria-hidden="true"
                    class="open"></ion-icon>
                  <ion-icon
                    name="remove-outline"
                    aria-hidden="true"
                    class="close"></ion-icon>
                </div>
              </button>
              <div class="card-content">
                <p class="color">
                  -
                  <!-- <ion-icon name="briefcase"></ion-icon> -->
                  Blue Color
                </p>
                <p class="brand">
                  -
                  <!-- <ion-icon name="briefcase"></ion-icon> -->
                  Samsung brand
                </p>
                <p class="business-entity">
                  -
                  <!-- <ion-icon name="briefcase"></ion-icon> -->
                  Business Entity
                </p>
                <p class="condition">
                  -
                  <!-- <ion-icon name="alarm"></ion-icon> -->
                  Refurbished
                </p>
                <p class="shipping">
                  -
                  <!-- <ion-icon name="boat"></ion-icon> -->
                  Free Shipping Offered
                </p>
              </div>
            </div>
          </li>
        </ul>
        <!-- <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem
          aliquam perferendis provident, error unde.
        </p>
        <div class="details">
          <p>Details</p>
          <p class="business-entity">
            - <ion-icon name="briefcase"></ion-icon>
            Business Entity
          </p>
          <p class="condition">
            -
            <ion-icon name="alarm"></ion-icon>
            Refurbished
          </p>
          <p class="shipping">
            - <ion-icon name="boat"></ion-icon>
            Free Shipping Offered
          </p>
        </div> -->
        <div class="product-btns">
          <a href="/" class="btn buy-now">
            <ion-icon name="logo-whatsapp"></ion-icon>
            Buy Now
          </a>
          <button class="btn wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
            Like item
          </button>
        </div>
        <button class="btn share-btn">
          <ion-icon name="copy-outline"></ion-icon>
          Copy Link
        </button>
        <div class="security-tips">
          <p class="security-heading">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            Security Guidance
          </p>
          <ul>
            <li>
              Always ensure you verify the buyer’s contact details before
              transaction
            </li>
            <li>Choose well-lit, public places for in-person transactions.</li>
            <li>Use traceable and secure payment methods.</li>
            <li>
              Refrain from sharing your home address or sensitive personal
              details.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="recommend">
  <div class="container">
    <h1 class="h1">Recommended Items</h1>
    <div class="view-grid">
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
      <a href="/product" class="product-card swiper-slide">
        <div class="img-box">
          <img src="/images/products/p8.jpg" alt="" />
          <button class="wishlist-btn">
            <ion-icon name="heart-outline"></ion-icon>
          </button>
        </div>
        <div class="card-content">
          <p class="section-text">Nike Air Force 1's</p>
          <p class="price">Ksh 3,000</p>
          <p class="location small-text">
            <ion-icon name="location-sharp"></ion-icon>
            Nairobi, Nairobi Central
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
