<%- include('includes/head') %> <%- include('includes/header') %>
<div class="login">
  <form id="resetPasswordForm">
    <div class="logo">
      <p>Reset Password</p>
    </div>
    <h1 class="h1">
      <a href="#">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Enter New Password
      </a>
    </h1>
    <input type="hidden" name="userId" value="" />
    <input type="hidden" name="resetString" value="" />
    <input
      type="password"
      placeholder="enter new password"
      name="newPassword"
      required />
    <input
      type="password"
      placeholder="confirm new password"
      name="confNewPassword"
      required />
    <button type="button" id="resetPasswordBtn">Login</button>
  </form>
</div>
<%- include('includes/footer') %>
