/* Import Swiper's CSS */
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

:root {

    /* my colors */
    --color-purple-dark: #2c9c24;
    --color-purple-light: #F5F5F5;
    --color-purple-mix: #C3ACD0;
    --rajah: hsl(23, 86%, 57%);
    --white: hsl(0, 0%, 100%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    /*  */

    --rich-black-fogra-29-1: hsl(215, 31%, 14%);
    --rich-black-fogra-29-2: hsl(230, 14%, 8%);
    --rich-black-fogra-39: hsl(158, 29%, 5%);
    --granite-gray: hsl(0, 0%, 40%);
    --go-green_50: hsla(145, 63%, 42%, 0.5);
    --go-green_8: hsla(145, 63%, 42%, 0.08);
    --go-green_5: hsla(145, 63%, 42%, 0.05);
    --darker-gray: hsl(0, 0%, 80%);
    --light-gray: hsl(0, 0%, 95%);
    --mint-cream: hsl(160, 100%, 98%);
    --cultured: hsl(0, 0%, 93%);
    --go-green: hsl(145, 63%, 42%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 18%);
    --safety-orange: hsl(25, 100%, 50%);
    --persian-rose: hsl(328, 100%, 59%);

    /**
    * gradient color
    */

    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));

    --gradient-2: linear-gradient(to left top, #674188, var(--safety-orange));

    /**
    * typography
    */

    --ff-poppins: 'Poppins', sans-serif;
    --ff-cuprum: 'Cuprum', sans-serif;

    --fs-1: 4.5rem;
    --fs-2: 3.6rem;
    --fs-3: 3.5rem;
    --fs-4: 3.2rem;
    --fs-5: 2.5rem;
    --fs-6: 2.4rem;
    --fs-7: 2.2rem;
    --fs-8: 2rem;
    --fs-9: 1.8rem;
    --fs-10: 1.5rem;
    --fs-11: 1.4rem;
    --fs-12: 1.3rem;
    --fs-13: 1rem;

    --fw-600: 600;
    --fw-500: 500;

    /**
    * spacing
    */

    --section-padding: 80px;

    /**
    * shadow
    */

    --shadow-1: 3px 4px 30px hsla(0, 0%, 53%, 0.1);
    --shadow-2: 5px 3px 40px hsla(191, 100%, 17%, 0.1);

    /**
    * radius
    */

    --radius-5: 5px;

    /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* RESET/BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-purple-dark);
    text-decoration: none;
}

a,
span,
button,
ion-icon {
    display: block;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-cuprum);
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--granite-gray);
    line-height: 1.6;
    background-color: var(--white);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button,
input {
    font: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/* input,
select,
textarea {
    width: 100%;
} */

:focus-visible {
    outline-offset: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

/* REUSED CLASSES */
.d-grid {
    display: grid;
}

/* REUSED STYLES */
.container {
    padding-inline: 1.5rem;
}

.section {
    padding-block: var(--section-padding);
}

.h1 {
    font-size: var(--fs-9);
    line-height: 1.1;
}

.h2 {
    font-size: var(--fs-2);
}

.h1,
.h2,
.h3,
.h2-sm {
    color: var(--rich-black-fogra-29-1);
    font-family: var(--ff-poppins);
}

.h2,
.h3,
.h2-sm {
    line-height: 1.3;
}

.h2-sm {
    font-size: var(--fs-3);
}

.h3 {
    font-size: var(--fs-7);
}

.small-text {
    font-size: var(--fs-13);
}

.section-text {
    font-size: var(--fs-12);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.grid-list {
    display: grid;
    gap: 2rem;
}

.btn-primary {
    padding: 1rem 3rem;
    transition: var(--transition-1);
    border: 1px solid var(--color-purple-dark);
    text-transform: uppercase;
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--color-purple-dark);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--white);
}

/* HEADER */
.header .btn-outline {
    display: none;
}

.header {
    padding-block: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: var(--white);
    box-shadow: var(--shadow-2);

}

.header.active {
    box-shadow: var(--shadow-2);
}

.header .action-btns {
    display: none;
    gap: 1rem;
}

.header.active .navbar-link {
    transition: var(--transition-1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-logo {
    display: none;
}

.nav-open-btn {
    color: var(--color-purple-dark);
    font-size: var(--fs-7);
}

.navbar {
    position: fixed;
    top: 0;
    left: -280px;
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-color: var(--rich-black-fogra-39);
    color: var(--white);
    padding: 3rem 2rem;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 4;
    margin-top: 0;
    display: block;
}

.nav {
    position: fixed;
    top: 0;
    left: -280px;
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-color: var(--rich-black-fogra-39);
    color: var(--white);
    padding: 3rem 2rem;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 4;
    margin-top: 0;
    display: block;
}

.navbar.active {
    visibility: visible;
    transform: translateX(280px);
    transition-duration: 0.5s;
}

.nav.active {
    visibility: visible;
    transform: translateX(280px);
    transition-duration: 0.5s;
}

.navbar .logo,
.nav-close-btn {
    color: var(--white);
}

.logo-img {
    width: 120px;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 25px;
}

.nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 25px;
}

.nav-close-btn {
    font-size: 3rem
}

.navbar-link {
    padding-block: 10px;
    transition: var(--transition-1);
    color: var(--white);
}

.navbar-link:is(:hover, :focus) {
    color: var(--color-purple-dark);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 100%, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
    z-index: 3;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.login-cart-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--rich-black-fogra-29-1);
    font-size: 25px;
    z-index: 4;
}

.login-cart-btn a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-cart-btn a img {
    width: 25px;
}

.login-cart-btn a .section-text {
    display: none;
}

.explore-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 1rem;
}

.explore-search p {
    display: none;
}

.search-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    transition: var(--transition-1);
    border: 1px solid var(--light-gray);
    border-radius: 1rem;
    background-color: var(--light-gray);
}

.search-box .btn {
    /* background-color: var(--color-purple-dark); */
    padding: 0.5rem 2rem;
    color: var(--rich-black-fogra-39);
    height: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-box input {
    color: var(--rich-black-fogra-29-1);
    width: 100%;
    border: none;
    outline: none;
    /* height: 5rem; */
    padding: 0 1rem;
    /* border-radius: 1rem; */
    font-size: var(--fs-10);
    /* border: 1px solid var(--light-gray); */
}


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero {
    position: relative;
    margin-block-start: 54px;
    padding-block: 170px 140px;
    background-image: url('https://ik.imagekit.io/2ofxhdt8w8/tr:w-800/blackm/hero.jpg?updatedAt=1721999497729');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero-title {
    color: var(--white);
    font-size: var(--fs-3);
    text-transform: capitalize;
}

.hero-content .btn-primary {
    display: inline-block;
    margin: 0 auto;
}

.hero-text {
    font-size: var(--fs-9);
    margin-block: 2rem;
    color: var(--white);
}

/* category */
.category {
    padding-block: 4rem;
}

.category-list {
    display: flex;
    /* gap: 1rem; */
}

.category-list .card {
    flex: 1;
    /* Optional: Makes all cards the same width */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .slide-content {
    display: flex;
}

.swiper-wrapper {
    display: flex;
    gap: 1rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.category-list .card .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--granite-gray);
    border-radius: 50%;
    /* Make sure the container is circular */
    width: 85px;
    /* Set a fixed width for the image container */
    height: 85px;
    /* Set a fixed height for the image container */
    transition: var(--transition-1);
    border: 3px solid var(--white);
}

.category-list .card .img-box:hover {
    border: 3px solid var(--color-purple-dark);
}

.category-list .card .section-text {
    margin: 0;
    padding: 1rem 0;
}

/* recently viewed */
.recents {
    padding-block: 5rem;
    background-color: var(--cultured);
}

.recents .container .section-title {
    font-size: var(--fs-9);
    text-transform: capitalize;
    text-align: center;
    /* margin: 2rem 0; */
}

.recents .container .section-heading img {
    width: 20px;
}

.recents .container .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.recents .container .section-heading .title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}

.view-all-link {
    color: var(--color-purple-dark);
}

.recents .slide-content {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recents .slide-content .icon {
    font-size: 3rem;
    z-index: 2;
    color: var(--rich-black-fogra-39);
}

.product-card .card-content {
    padding: 15px;
    font-size: 1.3rem;
    background-color: var(--white);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.product-card .card-content .section-text {
    font-weight: var(--fw-600);
}

.product-card .card-content .price {
    padding-bottom: .5rem;
}

.product-card .card-content .location {
    padding-top: .5rem;
    border-top: 1px solid var(--darker-gray);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .4rem;
}

.product-card .img-box {
    position: relative;
    background-color: var(--color-blue-light);
    width: auto;
    height: 160px;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.product-card .img-box .wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-1);
}

.product-card .img-box .wishlist-btn ion-icon {
    font-size: 1.5rem;
    color: var(--rich-black-fogra-39);
}

.product-card .img-box .wishlist-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

.product-card .card-content .price {
    font-weight: var(--fw-600);
    font-size: 1.5rem;
}

.product-card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recents .container .swiper-button-next,
.recents .container .swiper-button-prev {
    color: var(--rich-black-fogra-29-1);
    display: block;
}

/* products */
.products {
    padding-block: 5rem;
}

.products .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.view-all-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.view-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.view-grid .product-card .card-content {
    box-shadow: var(--shadow-2);
}

.view-grid .product-card .img-box {
    box-shadow: var(--shadow-1);
}

/* Banner */
.banner {
    padding-block: 4rem;
}

.banner .container {
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: var(--light-gray);
    padding: 4rem;
    border-radius: 2rem;
}

.banner .banner-content .section-title {
    padding: 2rem 0;
}

.banner .banner-content .section-text {
    font-size: var(--fs-11);
    padding: 1rem 0;
}

.banner .banner-content .btn-primary {
    margin-top: 2rem;
    margin-inline: auto;
}

.banner .banner-content .btn-primary:hover {
    color: var(--color-purple-dark);
}

/* MARKET */
.market {
    padding-block-end: 4rem;
}

.market .container .pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.market .container .view-grid {
    padding-bottom: 2rem;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    display: none;
}

.not-found p {
    font-style: italic;
    font-size: 2rem;
}

.not-found .active {
    display: block;
}

.market .container .not-found a {
    padding: .7rem 3rem;
    color: var(--rich-black-fogra-29-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: underline;
}

.market .container .pagination button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 2.7rem;
    border: 1px solid var(--rich-black-fogra-29-1);
    border-radius: .5rem;
    color: var(--white);
    background-color: var(--rich-black-fogra-29-1);
}

.market .container .pagination button ion-icon {
    font-size: 3rem;
}

/* .market .product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 0;
}

.market .product-container .market-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.market .market-grid .product-card .card-content {
    box-shadow: var(--shadow-2);
}

.market .market-grid .product-card .img-box {
    box-shadow: var(--shadow-1);
}

.market .product-container .product-filters {
    display: none;
}

.filter-box {
    padding: 2rem;
    background-color: var(--light-gray);
    position: sticky;
    top: 10rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.market .product-container .product-filters .section-text {
    border-bottom: 1px solid var(--rich-black-fogra-39);
}

.market .product-container .product-filters .filter-list {
    padding: 1rem;
} */

.products-filter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    /* position: sticky;
    top: 7rem;
    z-index: 2;
    background-color: var(--white);
    padding: 2rem; */
}

.products-filter-title .filter-btn .img-box {
    width: 25px;
}

.products-filter-title select {
    padding: .5rem 1.6rem;
    border: 1px solid var(--cultured);
}

.products-filter-title .title-link {
    text-transform: uppercase;
    font-weight: var(--fw-600);
    border-bottom: 1px solid var(--rich-black-fogra-29-1);
}

.products-filter-title .filter-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.products-filter-title .filter-btn img {
    width: 25px;
}

.products-filter-title .filter-btn .section-text {
    font-size: var(--fs-8);
}

.products-filter-title .filter-sort div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.product-filters .filter-category {
    padding-top: 1.5rem;
}

.product-filters .filter-category select {
    padding: 1rem 2rem;
    background-color: var(--white);
    width: 100%;
    border-radius: .5rem;
}

/* modal */
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window .modal-container {
    width: 400px;
    background: white;
    border-radius: 1.5rem;
    box-sizing: border-box;
    padding: 2rem;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-window header {
    font-weight: var(--fw-600);
}

.modal-window h1 {
    padding: 1rem 0;
    font-size: var(--fs-6);
    /* text-align: center; */
}

.modal-window .modal-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-close {
    color: var(--rich-black-fogra-39);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 25px;
}

.modal-window form {
    padding: 1rem 0;
}

.modal-window form input,
.modal-window form select {
    background-color: var(--light-gray);
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.modal-window form select {
    padding: 1rem;
}

.modal-window .split-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.modal-window button[type="submit"] {
    background-color: var(--color-purple-dark);
    color: var(--white);
    padding: 1rem;
    border: 1px solid var(--color-purple-dark);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: var(--fs-10);
    text-align: center;
    width: 100%;
}

.modal-window button[type="submit"]:hover {
    background-color: transparent;
    color: var(--color-purple-dark);
}

/* Product Details */
.product-details {
    padding-block-start: calc(var(--section-padding) + 1rem);
}

.product-details .breadcrumb {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
}

.product-details .breadcrumb a:last-child {
    color: var(--color-blue-dark);
}

.product-details .container .product-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.product-detail-container .image-container .img-box img {
    border-radius: 1rem;
}

.main-image {
    order: 1;
}

.product-images {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 1rem;
    order: 2;
}

.product-images .img-box {
    flex-basis: 25%;
    cursor: pointer;
    transition: var(--transition-1);
    /* width: 100px; */
    height: 80px;
}

.product-images .img-box img {
    border-radius: 1rem;
}

/* end */
.product-content {
    /* padding: 1rem; */
    /* background-color: var(--white); */
    /* border-radius: 1rem; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    line-height: 1.6;
}

.product-content p,
.product-content h1 {
    margin: 1rem 0;
}

.product-content p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product-content .h1 {
    font-size: 2rem;
    font-weight: 700;
}

.product-content .details {
    padding: .5rem 0;
    font-size: var(--fs-10);

}

.product-content .price {
    color: var(--rich-black-fogra-29-1);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    margin: 1rem 0;
}

.product-content .description {
    margin: 1rem 0;
    line-height: 1.8;
    font-size: var(--fs-10);
    color: var(--rich-black-fogra-29-1);
}

.product-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1rem;
}

.product-btns .btn,
.product-btns .wishlist-btn {
    flex: 1;
}

.product-btns .btn {
    background-color: var(--rich-black-fogra-29-1);
    color: var(--white);
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    text-decoration: none;
}

.product-btns .wishlist-btn {
    padding: 1rem 2rem;
    background-color: var(--cultured);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rich-black-fogra-39);
}

.share-btn {
    width: 100%;
    background-color: transparent;
    color: var(--rich-black-fogra-39);
    border: 1px solid var(--darker-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: .5rem;
}

.security-tips {
    background-color: var(--cultured);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.security-tips .security-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-purple-dark);
}

.security-tips ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.security-tips ul li {
    margin: 0.5rem 0;
    padding-left: 2.5rem;
    position: relative;
    font-size: var(--fs-10);

}

.security-tips ul li:before {
    content: '📌';
    position: absolute;
    left: 0;
    color: var(--color-purple-dark);
}

/* accordion */
.product-details .accordion-container {
    overflow: hidden;
}

.product-details .accordion-container .card-action {
    --action-bg: var(--color-purple-light);
    --color: var(--granite-gray);

    /* background-color: var(--action-bg); */
    border-top: 1px solid var(--darker-gray);
    border-bottom: 1px solid var(--darker-gray);
    color: var(--granite-gray);
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2.5rem;
    gap: 2rem;
    transition: var(--transition-1);
}

.accordion-container .card-action:is(:hover, :focus, .active) {
    --action-bg: var(--color-purple-mix);
    --color: var(--rich-black-fogra-29-1);
}

.accordion-container .card-title {
    color: var(--color);
    /* font-size: var(--fs-8); */
    transition: var(--transition-1);
}

.accordion-container ion-icon {
    color: var(--color);
    font-size: 15px;
    transition: var(--transition-1);
    --ionicon-stroke-width: 60px;
}

.accordion-container .card-action.active .open,
.accordion-container .card-action .close {
    display: none;
}

.accordion-container .card-action .open,
.accordion-container .card-action.active .close {
    display: block;
}

.accordion-container .card-content {
    font-size: var(--fs-10);
    padding-inline: 25px;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-2);
}

.accordion-container .card-content p {
    margin-block: 15px;
}

.accordion-container .card-action.active+.card-content {
    max-height: 500px;
}


/* auth forms */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 3rem;
}

.login form {
    width: 300px;
}

.login h1 a {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login form .logo {
    width: 250px;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--darker-gray);
    box-sizing: border-box;
}

.login button {
    background-color: var(--color-purple-dark);
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--color-purple-dark);
    transition: var(--transition-1);
}

.login button:hover {
    border: 1px solid var(--color-purple-dark);
    background-color: transparent;
    color: var(--color-purple-dark);
}

.forgot-password:hover {
    color: var(--color-purple-dark);
}

.login form .section-text {
    margin-top: 3rem;
    text-align: center;
}

.login form .section-text a {
    display: inline;
    color: var(--color-purple-dark);
}

.login .error {
    color: #820300;
    cursor: pointer;
    transition: var(--transition-1);
    padding: 1rem;
    display: none;
}

.login .success {
    color: var(--go-green);
    cursor: pointer;
    transition: var(--transition-1);
    padding: 1rem;
    display: none;
}

.recommend {
    padding-block: 4rem;
}

.recommend .h1 {
    padding: 2rem 0;
}

/* account */
.account {
    padding-block: calc(var(--section-padding) + 4rem);
}

.account .container .account-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.account .container .account-cards .card {
    padding: 3rem;
    box-shadow: var(--shadow-2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account .container .account-cards .card ion-icon {
    font-size: 30px;
    color: var(--color-purple-dark);
}

.account-chart {
    padding: 3rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    color: var(--rich-black-fogra-29-1);
    box-shadow: var(--shadow-2);
}

.account-chart .account-chart-header {
    padding: 2rem 0;
}

.account-chart .account-chart-header select {
    padding: .5rem 1rem;
}

.account-chart canvas {
    display: block;
    width: 100%;
    height: auto;
}

.profile {
    padding-block-start: var(--section-padding);
    /* padding-block-end: 4rem; */
}

.profile-header,
.profile {
    padding-bottom: 2rem;
}

.profile .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow-2);
    max-width: 600px;
    border-radius: 1rem;
    margin: 0 auto;
}

.profile form .user-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile form .formBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile form .formBtns button {
    padding: .5rem 2rem;
    border: 1px solid var(--color-purple-dark);
    border-radius: var(--radius-5);
    background-color: var(--color-purple-dark);
    color: var(--white);
    transition: var(--transition-2);
}

.profile form .formBtns a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: red;
}

.profile form .formBtns a ion-icon {
    font-size: 2rem;
}

.profile form .formBtns button:hover {
    background-color: var(--white);
    color: var(--color-purple-dark);
}

.profile form .user-details .user-details-input {
    width: 100%;
}

.profile form input[type="text"],
.profile form input[type="email"],
.profile form input[type="file"],
.profile form input[type="number"],
.profile form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--darker-gray);
    box-sizing: border-box;
}

.profile {
    padding-block: calc(var(--section-padding) + 5rem);
    height: 100%;
}

.profile h1 {
    font-size: 3rem;
}

.profile .container .profile-icon-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile .container .profile-icon-box .img-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile .container .profile-icon-box .profile-content {
    font-size: 1.5rem;
}

.profile .container .profile-icon-box .profile-content p:first-child {
    font-weight: var(--fw-600);
}


.table {
    padding-block-start: calc(var(--section-padding) + 3rem);
}

.table .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* FOOTER */

.footer {
    background-color: var(--rich-black-fogra-39);
    color: var(--cultured);
}

.footer-top .container {
    display: grid;
    gap: 40px;
}

.footer .logo {
    color: var(--white);
}

.footer .footer-img {
    width: 120px;
}

.footer-text {
    margin-block: 25px;
}

.newsletter-form {
    position: relative;
    max-width: 350px;
}

.email-field {
    color: var(--white);
    font-size: var(--fs-11);
    border: 1px solid var(--granite-gray);
    padding: 15px;
    border-radius: var(--radius-5);
}

.footer .form-btn {
    background-color: var(--color-purple-dark);
    color: var(--white);
    font-size: 24px;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    padding-inline: 10px;
    border-radius: var(--radius-5);
}

.footer-list-title {
    font-family: var(--ff-cuprum);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    line-height: 1.2;
    margin-block-end: 25px;
}

.footer-link {
    margin-block-start: 15px;
    transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
    color: var(--color-purple-dark);
}

.footer-item,
.social-list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footer-item {
    margin-block-start: 15px;
}

.footer-item>ion-icon {
    flex-shrink: 0;
    color: var(--color-purple-dark);
    font-size: 20px;
    margin-block-start: 3px;
}

.contact-link {
    transition: var(--transition-1);
}

.contact-link:not(.address):is(:hover, :focus) {
    color: var(--color-purple-dark);
}

.footer-item:last-child {
    margin-block-start: 25px;
    padding-block-start: 25px;
    border-block-start: 1px solid var(--granite-gray);
}

.social-link {
    font-size: 14px;
    border: 1px solid var(--granite-gray);
    padding: 10px;
    transition: var(--transition-1);
    border-radius: 50%;
}

.social-link:is(:hover, :focus) {
    background-color: var(--color-purple-dark);
    border-color: var(--color-purple-dark);
    color: var(--white);
}

.footer-bottom {
    padding-block: 15px;
    border-block-start: 1px solid var(--jet);
}

.copyright {
    font-size: var(--fs-12);
    text-align: center;
    margin-block-end: 15px;
}

.copyright-link {
    display: inline-block;
    color: var(--go-green);
    font-weight: var(--fw-500);
}

.footer-bottom-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-bottom-link {
    font-size: var(--fs-11);
    transition: var(--transition-1);
}

.footer-bottom-link:is(:hover, :focus) {
    color: var(--go-green);
}


@media (min-width: 575px) {
    .h1 {
        font-size: var(--fs-5);
    }

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    /**
   * HEADER
   */

    .header .container {
        max-width: unset;
    }

}


@media (min-width: 640px) {

    /* recents slider */
    .recents .container .swiper-button-next,
    .recents .container .swiper-button-prev {
        display: block;
    }

    /* Market */
    .market .product-container .market-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 768px) {
    /**
   * REUSED STYLE
   */

    .hero-text {
        font-size: var(--fs-7);
    }

    .hero-title {
        font-size: var(--fs-1);
    }

    .small-text {
        font-size: var(--fs-12);
    }

    .container {
        max-width: 740px;
        width: 100%;
        margin-inline: auto;
    }

    .product-card .img-box {
        height: 250px;
    }

    .view-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* banner  */
    .banner .container {
        grid-template-columns: 1fr 1fr;
    }

    /* product detail */
    .product-detail-container .image-container {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    .product-images {
        flex-direction: column;
    }

    .product-images .img-box {
        width: 100px;
    }

    .main-image {
        order: 2;
    }

    .product-images {
        order: 1;
    }

    /* account */
    .account .container .account-cards {
        grid-template-columns: 1fr 1fr;
    }

    /**
   * FOOTER
   */

    .footer-top .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 960px;
    }

    /**
* HEADER
*/

    .nav-open-btn,
    .navbar .wrapper,
    .nav .wrapper, s .overlay {
        display: none;
    }

    .header {
        padding: 20px;
    }

    .header.active .navbar-link {
        color: var(--rich-black-fogra-29-1);
    }

    .nav,
    .nav.active {
        all: unset;
    }

    .nav-list {
        display: flex;
        gap: 10px;
    }

    .navbar-link {
        color: var(--rich-black-fogra-29-1);
        font-weight: var(--fw-600);
        padding-block: 0;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin: 0 2rem;
    }

    .header .header-logo,
    .header .explore-search p {
        display: block;
    }

    .login-cart-btn a .section-text {
        display: block;
    }

    .explore-search {
        padding: 0 4rem;
    }

    .header .btn-outline {
        display: block;
        color: var(--color-purple-dark);
        font-weight: var(--fw-600);
        text-transform: uppercase;
        border: 1px solid var(--color-purple-dark);
        padding: 7px 18px;
        transition: var(--transition-1);
        border-radius: 20px;
    }

    .header .btn-outline:is(:hover, :focus) {
        color: var(--white);
        background-color: var(--color-purple-dark);
    }

    .header .action-btns {
        display: flex;
        border: 1px solid var(--color-purple-dark);
        border-radius: 2rem;
    }

    .header .action-btns a {
        display: block;
        color: var(--color-purple-dark);
        font-weight: var(--fw-600);
        text-transform: uppercase;
        padding: 7px 18px;
        transition: var(--transition-1);
    }

    /* banner */
    .banner .banner-content .section-title {
        font-size: var(--fs-5);
    }

    .banner .banner-content .section-text {
        font-size: var(--fs-9);
    }

    /* market */
    /* .market .product-container {
        grid-template-columns: .3fr 1fr;
    }

    .market .product-container .product-filters {
        display: block;
    } */

    .products-filter-title .filter-sort {
        display: block;
    }

    /* product details */
    .product-details .container .product-detail-container {
        grid-template-columns: 1fr 1fr;
    }

    /* account */
    .account .container .account-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /**
   * FOOTER
   */

    .footer-top .container {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
    }

    .footer-bottom .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        margin-block-end: 0;
    }
}

@media (min-width: 1200px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1140px;
    }

    .view-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* banner */
    .banner .banner-content .section-title {
        font-size: var(--fs-6);
    }

    .banner .banner-content .section-text {
        /* font-size: var(--fs-7); */
    }
}

@media (min-width: 1280px) {

    /* Your CSS rules here */
    .container {
        max-width: 1230px;
    }
}

@media (min-width: 1366px) {

    /* Your CSS rules here */
    .container {
        max-width: 1300px;
    }
}


@media (min-width: 1440px) {

    /* Your CSS rules here */
    .container {
        max-width: 1380px;
    }
}